@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("https://transparenttextures.com/patterns/binding-dark.png");
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1e21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Incognito';
  src: url('/fonts/incognito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
